
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    
}

.main{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
body{
    transition: 0.5s;
}

.container{
   
    background-color: #fff;
    align-items:center;
    width:25%;
    height:10%;
    border:none;
    border-radius:4px;
    

}
h1{
    padding: 2px;
    display:block;
    align-items: center;
    align-items: center;
}
button{
    display: block;
    width: 100%;
    border-radius: 2px;
}